@charset "UTF-8";
/* CSS Document */

body {
    margin: 0;
    font-family: Arial, sans-serif;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo img { /* Dripdrop logo der står øverst oppe i venstre hjørne */
    width: 100px;
	height: auto;
	
}

.burger-menu {
    font-size: 20px;
    cursor: pointer;
    display: none;
	
}

.desktop-menu {
    display: flex;
}

.desktop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.desktop-menu li {
    margin-right: 20px;
	position: relative;
}

.desktop-menu li a {
    text-decoration: none;
    color: black;
}

.desktop-menu li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #026928; /* Green line color */
    position: absolute;
    bottom: 15px;
	left: 0;
}

.desktop-menu li:last-child { /* Grøn boks til det sidste barn som er "contact us". */
    font-size: 22px; 
    background-color: #026928; /* Green background color */
    padding: 5px 10px; 
	position: relative;
	top: -5px; /* Dette var en vigtig tilføjelse, da både teksten og den grønne boks var faldet lidt ned. */
}

body {
    margin: 0;
}

.side-box1 {
    background-color: #026928; /* Green color */
    padding: 10px;
    margin-right: auto;
	margin-left: 100px;
    width: 450px; /* Adjust the width to create a square */
    color: white;
	font-size: 12px;
	line-height: 1.5;
	margin-top: 25px;
}

.side-box-container { /* Begge side-boxes skal align */
	text-align: center;
	flex-direction: column;
	align-items: center;
	height: 0px;
	display: flex;
	justify-content: flex-start;
}

.read-more-btn {
    background-color: #322E2E; /* Gray color */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
	margin-right: auto;
	margin-left: 280px;
	margin-top: 10px;
	display: flex;
	
}

.content-container {
    margin-left: 120px; /* Adjust for the width of the side box and additional space */
    padding: 20px;
	display: flex;
	justify-content: flex-start;
}

.green-line {
    height: 2px;
    background-color: #026928; /* Green color */
    margin: 10px 0;
}

.side-box2 { /* side-box "brighter rainy days for guest. */
    width: 500px;
    padding: 20px;
    background-color: white;
	margin-left: auto;
	margin-right: 20px;
}

.content-container {
    flex-direction: column;
    align-items: center;
	text-align: center;
}

.green-line { /* Grøn linje */
    height: 2px;
    background-color: #03A840;
    margin-bottom: 10px;
}

.feature-boxes {
    display: flex;
    justify-content: flex-start;
    margin: -40px;
	margin-top: 150px;
	margin-right: 80px;

}

.feature-box1 {
    margin: 20px;
	margin-top: 1px;
}

.feature-box img {
    width: 100%; /* Billede 1 */
    max-width: 100px; 
    height: auto; 
}

.feature-content {
    margin-top: 20px;
	margin-left: 0;
	text-align: center;
}

.feature-content h3 { /* Overskrift 1 */
    font-size: 24px;
    margin-bottom: 10px;
	text-align: center;
}

.secondary-text { /* tekst 1 */
	display: block; 
    margin-top: 10px; 
    font-weight: normal; 
	text-align: center;
}

.feature-content p {
    font-size: 16px;
	
}

.feature-box2 {
    margin: 20px;
	margin-top: -35px;
}

.feature-box2 img {
    width: 100%; /* Billede 2 */
    max-width: 150px; 
    height: auto; 
}

.feature-content2 {
	margin-top: 20px;
	margin-left: 0
}

.feature-content2 h4 {
	font-size: 24px;
    margin-bottom: 10px;
	text-align: center;
}

.feature-box2 h4 {
    font-size: 24px; /* Overskrift 2 */
    margin-bottom: 10px;
}

.feature-box2 p { /* tekst 2 */
    font-size: 16px;
    margin-bottom: 20px;
}

.secondary-text2 {
    display: block; 
    margin-top: 10px; 
    font-weight: normal; 
}


.feature-box3 {
    margin: 20px;
	margin-top: -16px;
}

.feature-box3 img { /* Billede 3 */
    width: 100%; 
    max-width: 100px; 
    height: auto; 
}

.feature-content3 {
    margin-top: 20px;
}

.feature-content3 h5 {
    font-size: 24px; /* Overskrift 3 */
    margin-bottom: 10px;
}

.feature-content3 p { /* Tekst 3 */
    font-size: 16px;
    margin-bottom: 20px;
}

.feature-content3 span {
    font-weight: normal; 
}


.rotating-banner-container {
    overflow: hidden;
    position: relative;
    height: 150px;
    margin-top: 100px;
	background-color: #026928; /* Green background color */
	padding-top: -200px;
	padding-bottom: -100px;
	margin-bottom: -10px;
}

.rotating-banner {
    position: absolute;
    width: 260%; /* justere width baseret på nummeret af billeder */
    animation: rotateBanner 220s linear infinite;
}

.rotating-banner:hover {
    animation-play-state: paused;
}

.banner-container {
    width: 100; /* Set to 100% / number of images */
    float: left;
	margin-top: 20px;
}

.rotating-banner img {
    width: 5%;
    height: 50%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
	margin-right: 20px; /* Denne kode er tilføjet for at give plads mellem billederne */
	margin-top: -50px; /* Denne kode angiver placeringen i forhold til rotating-banner, så billederne er placeret mere centralt */

}

.rotating-banner img.active { /* Der er i alt 9 billeder på rotating-banner, og de står herunder */
    opacity: 1;
}

.rotating-banner img.active2 {
	opacity: 1;
}

.rotating-banner img.active3 {
	opacity: 1;
}

.rotating-banner img.active4 {
	opacity: 1;
}

.rotating-banner img.active5 {
	opacity: 1;
}

.rotating-banner img.active6 {
	opacity: 1;
}

.rotating-banner img.active7 {
	opacity: 1;
}

.rotating-banner img.active8 {
	opacity: 1;
}

.rotating-banner img.active9 {
	opacity: 1;
}

@keyframes rotateBanner {
    0% {
        transform: translateX(100%);
    }
    11.1% {
        transform: translateX(0%); /* Image 1 appears here */
    }
    22.2% {
        transform: translateX(-100%);
    }
    33.3% {
        transform: translateX(-200%); /* Image 2 appears here */
    }
    44.4% {
        transform: translateX(-300%);
    }
    55.5% {
        transform: translateX(-400%); /* Image 3 appears here */
    }
    66.6% {
        transform: translateX(-500%);
    }
    77.7% {
        transform: translateX(-600%); /* Image 4 appears here */
    }
    88.8% {
        transform: translateX(-700%);
    }
    100% {
        transform: translateX(-800%); /* Image 5 appears here */
    }
}

footer {  /* Footer */
    background-color: #FFFFFF;
    color: #000000 ;
    text-align: center;
    padding: 50px;
    display: flex;
	margin-top: auto;
    justify-content: space-around;
}

.contact-column {  /* Contact us */
	
}

.address-column {  /* Follow us + logoer */
    text-align: center;
    margin-left: 160px;
    margin-right: auto;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 50%;
}

.SoMe img {
    width: 30px;
    margin-top: 10px; 
	padding-left: 20px;
}

.About-us {
    flex: 1;
	text-align: center;
    margin-right: -100px;
    margin-left: auto;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 50%;
}

.About-us ul {
    padding: 0;
    list-style: none;
}

.About-us li {
    margin-bottom: 5px;
}

.copyright {
	margin-top: -30px;
	margin-bottom: 50px;
	display: flex;
    flex-direction: column; 
    align-items: center;
}

.privat-police {
    border-bottom: 1px solid #000; /* Adjust color and thickness as needed */
    display: inline; /* Ensure it stays on the same line */
}



/* Media Query for Responsive Design */
@media only screen and (max-width: 600px) {
    .desktop-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .content-container {
        flex-direction: column;
    }
}
