@charset "UTF-8";
/* CSS Document */

body {
    margin: 0;
    font-family: Arial, sans-serif;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo img { /* Dripdrop logo der står øverst oppe i venstre hjørne */
    width: 100px;
	height: auto;
	
}

.burger-menu {
    font-size: 20px;
    cursor: pointer;
    display: none;
	
}

.desktop-menu {
    display: flex;
}

.desktop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.desktop-menu li {
    margin-right: 20px;
	position: relative;
}

.desktop-menu li a {
    text-decoration: none;
    color: black;
}

.desktop-menu li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #026928; /* Green line color */
    position: absolute;
    bottom: 0;
	left: 0;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.side-box {
    width: 200px;
    padding: 20px;
    background-color: #eee;
}

.green-line {
    height: 2px;
    background-color: #00ff00;
    margin-bottom: 10px;
}

.feature-boxes {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.feature-box {
    text-align: center;
    margin: 0 10px;
}

.rotating-banner-container {
    overflow: hidden;
    position: relative;
    height: 150px;
    margin-top: 20px;
	background-color: #026928; /* Green background color */
	padding-top: -100px;
	padding-bottom: -100px;
	margin-bottom: -10px;
}

.rotating-banner {
    position: absolute;
    width: 300%; /* Adjust the width based on the number of images */
    animation: rotateBanner 20s linear infinite;
}

.rotating-banner:hover {
    animation-play-state: paused;
}

.banner-container {
    width: 100; /* Set to 100% / number of images */
    float: left;
	margin-top: 20px;
}

.rotating-banner img {
    width: 5%;
    height: 50%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
	margin-right: 20px; /* Denne kode er tilføjet for at give plads mellem billederne */
	margin-top: -60px; /* Denne kode angiver placeringen i forhold til rotating-banner, så billederne er placeret mere centralt */

}

.rotating-banner img.active { /* Der er i alt 9 billeder på rotating-banner, og de står herunder */
    opacity: 1;
}

.rotating-banner img.active2 {
	opacity: 1;
}

.rotating-banner img.active3 {
	opacity: 1;
}

.rotating-banner img.active4 {
	opacity: 1;
}

.rotating-banner img.active5 {
	opacity: 1;
}

.rotating-banner img.active6 {
	opacity: 1;
}

.rotating-banner img.active7 {
	opacity: 1;
}

.rotating-banner img.active8 {
	opacity: 1;
}

.rotating-banner img.active9 {
	opacity: 1;
}

@keyframes rotateBanner {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer {
    background-color: #FFFFFF;
    color: #000000 ;
    text-align: center;
    padding: 80px;
    display: flex;
	margin-top: auto;
    justify-content: space-around;
}

.contact-column,
.address-column,
.social-media-column {
    flex: 1;
}

.social-media-column ul {
    padding: 0;
    list-style: none;
}

.social-media-column li {
    margin-bottom: 5px;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 600px) {
    .desktop-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .content-container {
        flex-direction: column;
    }
}
