@charset "UTF-8";
/* CSS Document */

body {
    margin: 0;
    font-family: Arial, sans-serif;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: transparent;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	 position: relative;
	z-index: 1; /* Set a higher z-index for the header */
}



.logo img { /* Dripdrop logo der står øverst oppe i venstre hjørne */
    width: 100px;
	height: auto;
	
}

#menuToggle {
    display: none;
}

.burger-menu {
    font-size: 20px;
    cursor: pointer;
    display: none;
	
}

.desktop-menu {
    display: flex;
	font-size: 20px; 
}

.desktop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
	font-size: 20px; 
}

.desktop-menu li {
    margin-right: 40px;
	position: relative;
	font-size: 20px; 
}

.desktop-menu li a {
    text-decoration: none;
    color: black;
	font-size: 20px; 
}

.desktop-menu li:last-child a { /* tekst farve hvid i "contact us" */
    color: white;
}

.desktop-menu li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #026928; /* Green line color */
    position: absolute;
    bottom: 12px;
	left: 0;
}

.desktop-menu li:last-child { /* Grøn boks til det sidste barn som er "contact us". */
    font-size: 24px; 
    background-color: #026928; /* Green background color */
    padding: 8px 12px; 
	position: relative;
	top: -5px; /* Dette var en vigtig tilføjelse, da både teksten og den grønne boks var faldet lidt ned. */
}

body {
    margin: 0;
}

.side-box1 {
    background-color: #026928; /* Green color */
    padding: 10px;
    margin-right: auto;
	margin-left: 100px;
    width: 450px; /* Adjust the width to create a square */
    color: white;
	font-size: 12px;
	line-height: 1.5;
	margin-top: 25px;
}

.side-box-container { /* Begge side-boxes skal align */
	text-align: center;
	flex-direction: column;
	align-items: center;
	height: 0px;
	display: flex;
	justify-content: flex-start;
}

.read-more-btn {
    background-color: #322E2E; /* Gray color */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
	margin-right: auto;
	margin-left: 280px;
	margin-top: 10px;
	display: flex;
	
}

.content-container {
    margin-left: 120px; /* Adjust for the width of the side box and additional space */
    padding: 20px;
	display: flex;
	justify-content: flex-start;
}

.green-line {
    height: 2px;
    background-color: #026928; /* Green color */
    margin: 10px 0;
}

.side-box2 { /* side-box "brighter rainy days for guest. */
    width: 500px;
    padding: 20px;
    background-color: white;
	margin-left: auto;
	margin-right: 20px;
}

.content-container {
    flex-direction: column;
    align-items: center;
	text-align: center;
}

.green-line { /* Grøn linje */
    height: 2px;
    background-color: #03A840;
    margin-bottom: 10px;
}

.feature-boxes {
    display: flex;
    justify-content: flex-start;
    margin: -40px;
	margin-top: 150px;
	margin-right: 80px;

}

.feature-box1 {
    margin: 20px;
	margin-top: 1px;
}

.feature-box img {
    width: 100%; /* Billede 1 */
    max-width: 100px; 
    height: auto; 
}

.feature-content {
    margin-top: 20px;
	margin-left: 0;
	text-align: center;
}

.feature-content h3 { /* Overskrift 1 */
    font-size: 24px;
    margin-bottom: 10px;
	text-align: center;
}

.secondary-text { /* tekst 1 */
	display: block; 
    margin-top: 10px; 
    font-weight: normal; 
	text-align: center;
}

.feature-content p {
    font-size: 16px;
	
}

.feature-box2 {
    margin: 20px;
	margin-top: -35px;
}

.feature-box2 img {
    width: 100%; /* Billede 2 */
    max-width: 150px; 
    height: auto; 
}

.feature-content2 {
	margin-top: 20px;
	margin-left: 0
}

.feature-content2 h4 {
	font-size: 24px;
    margin-bottom: 10px;
	text-align: center;
}

.feature-box2 h4 {
    font-size: 24px; /* Overskrift 2 */
    margin-bottom: 10px;
}

.feature-box2 p { /* tekst 2 */
    font-size: 16px;
    margin-bottom: 20px;
}

.secondary-text2 {
    display: block; 
    margin-top: 10px; 
    font-weight: normal; 
}


.feature-box3 {
    margin: 20px;
	margin-top: -16px;
}

.feature-box3 img { /* Billede 3 */
    width: 100%; 
    max-width: 100px; 
    height: auto; 
}

.feature-content3 {
    margin-top: 20px;
}

.feature-content3 h5 {
    font-size: 24px; /* Overskrift 3 */
    margin-bottom: 10px;
}

.feature-content3 p { /* Tekst 3 */
    font-size: 16px;
    margin-bottom: 20px;
}

.feature-content3 span {
    font-weight: normal; 
}


.rotating-banner-container {
    overflow: hidden;
    position: relative;
    height: 150px;
    margin-top: 100px;
	background-color: #026928; /* Green background color */
	padding-top: -200px;
	padding-bottom: -100px;
	margin-bottom: -10px;
}

.rotating-banner {
    position: absolute;
    width: 260%; /* justere width baseret på nummeret af billeder */
    animation: rotateBanner 220s linear infinite;
}

.rotating-banner:hover {
    animation-play-state: paused;
}

.banner-container {
    width: 100; /* Set to 100% / number of images */
    float: left;
	margin-top: 20px;
}

.rotating-banner img {
    width: 5%;
    height: 50%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
	margin-right: 20px; /* Denne kode er tilføjet for at give plads mellem billederne */
	margin-top: -50px; /* Denne kode angiver placeringen i forhold til rotating-banner, så billederne er placeret mere centralt */

}

.rotating-banner img.active { /* Der er i alt 9 billeder på rotating-banner, og de står herunder */
    opacity: 1;
}

.rotating-banner img.active2 {
	opacity: 1;
}

.rotating-banner img.active3 {
	opacity: 1;
}

.rotating-banner img.active4 {
	opacity: 1;
}

.rotating-banner img.active5 {
	opacity: 1;
}

.rotating-banner img.active6 {
	opacity: 1;
}

.rotating-banner img.active7 {
	opacity: 1;
}

.rotating-banner img.active8 {
	opacity: 1;
}

.rotating-banner img.active9 {
	opacity: 1;
}

@keyframes rotateBanner {
    0% {
        transform: translateX(100%);
    }
    11.1% {
        transform: translateX(0%); /* Image 1 appears here */
    }
    22.2% {
        transform: translateX(-100%);
    }
    33.3% {
        transform: translateX(-200%); /* Image 2 appears here */
    }
    44.4% {
        transform: translateX(-300%);
    }
    55.5% {
        transform: translateX(-400%); /* Image 3 appears here */
    }
    66.6% {
        transform: translateX(-500%);
    }
    77.7% {
        transform: translateX(-600%); /* Image 4 appears here */
    }
    88.8% {
        transform: translateX(-700%);
    }
    100% {
        transform: translateX(-800%); /* Image 5 appears here */
    }
}

.banner-with-umbrellas img {
    width: 100%;
	position: absolute; /* banner billede med gron paraply */
    top: 0;
    left: 0;
	z-index:-1;
	height: 240px;
}

.content-container-guests { /* "dry guests are happy" venste side */
    display: flex;
	margin-top: 100px;
    justify-content: space-between;
    padding: 20px;
}

.right-section-easy { /* "umbrellas are easier with dripdrop" højre side */
	line-height: 2.5;
}

.right-section-easy h2 {
	margin-bottom: 80px;
}


.left-section-guests,
.right-section-easy {
    width: 45%;
	text-align: center;
}

.left-section-guests img,
.right-section-easy img {
    width: 100%;
    margin-top: 20px;
}

/* sustainbility page */

.sustainability-page {
    padding: 20px;
}

.working-with-un { /* H2: Workng with UN */
    text-align: right;
	margin-right: 220px;
	margin-left: auto;
}

.working-with-un-2 { /* Tekst under "Working with UN" */
	text-align: right;
	margin-right: 50px;
	margin-left: auto;
}

.side-by-side { /* section tree + goal 12, 14 og 15 */
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
	margin-left: auto;
	margin-right: 0;
}

.left-side-tree img { /* træ billedet */
	width: 380px;
	margin-left: auto;
	margin-right: 10px;
	margin-top: -135px;
}

.content-container-tree {
	margin-left: 40px;
	margin-right: auto;
	text-align: auto;
	line-height: 1.5;
	margin-top: -135px;
}

.content-container-tree h3 {
	margin-right: auto;
	margin-left: 50px;
}

.left-side-tree,
.goal-12, .goal-14, .goal-15 {
    flex: 1;
	padding: 11px;
	margin-left: auto;
	margin-right: 0;
}

.goal-12, .goal-14, .goal-15 {
	justify-content: space-between;
}

.goal-12 img, /* image: 12 responsible consumption */
.right-side img {
    width: 40%;
    margin-bottom: 5px;
	margin-left: 70px;
	margin-top: 20px;
	margin-right: auto;
}

.goal-12 h3, .goal-14 h3, .goal-15 h3 {
	font-size: 15px;
}
.goal-14 img,
.right-side img { /* image: 14 life below water */
    width: 40%;
    margin-bottom: 10px;
	margin-left: 80px;
	margin-top: 20px;
	margin-right: auto;
}

.goal-15 img,
.right-side img { /* image: 15 life on land */
    width: 40%;
    margin-bottom: 10px;
	margin-left: 80px;
	margin-right: auto;
}

.side-by-side-2 { /* hele sektion med de 3 cirkler med numre indeni + H2 "protecting your guests" */
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
	margin-right: auto;
	margin-left: 0;
}

.side-by-side-2 img { /* 3 cirkler */
	width: 700px;
	margin-left: auto;
	margin-right: 10px;
}
.protecting-guests { /* H2 "Protecting your guests" */
    text-align: center;
	margin-right: auto;
	font-size: 15px;
	
}


/* user support siden */

.banner-with-gray-umbrellas img {
    width: 100%;
	position: absolute; /* banner billede med gron paraply */
    top: 0;
    left: 0;
	z-index:-1;
	height: 240px;
	opacity: 0.5;
}

.content-container-refund { /* Tekst "Request for Refund" */
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 150px auto;
    max-width: 600px; 
}

/* Design af formularen */
.refund-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: -100px;
}

/* Design af det, der står ind i formularen */
.refund-form p {
    margin-bottom: 15px;
}

.refund-form label {
    display: block;
    margin-bottom: 5px;
}

.refund-form input,
.refund-form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.refund-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.center-container { /* Apple Pay device ID */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	margin-top: 50px; 
}

.apple-id-text {
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 400px; /* Apple Pay device ID tekst */
    margin-bottom: 20px;
}

/* Contact us siden */


.content-container-contact { /* content container*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px; /* Center the container horizontally */
    max-width: 1200px; /* Adjust the max-width as needed */
    margin-left: -300px;
    margin-right: auto;
}

.menu-background-image img {/* Set background image styles here */
    width: 100%;
	position: absolute; /* banner billede med gron paraply */
    top: 0;
    left: 0;
	z-index:-1;
	height: 240px;
}

.left-section-lady {
    width: 40%;
    display: inline-block;
    vertical-align: top;
	margin-top: 90px;
	margin-left: 50px;
	margin-right: auto;
}

.left-section-lady img {
    width: 100%;
    height: auto;
}

.text-bunch-rain {
    width: 50%;
    display: inline-block;
	vertical-align: top;
	margin-left: 650px;
	margin-right: auto;
	margin-top: -550px;
	line-height: 2;
}

.text-bunch-rain h2 {
	margin-left: 200px;
	margin-right: auto;
}

.center-section-know-more {
    width: 100%;
    text-align: center;
	margin-top: 350px;
}

/* Add your other styles as needed */

.contact-us-form {
    max-width: 600px;
    margin: auto;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 50px;
	margin-bottom: 30px;
}

.contact-us-form p {
    margin-bottom: 15px;
}

.contact-us-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-us-form input,
.contact-us-form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.contact-us-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h3 {
    color: #333;
}

footer p {
    margin: 5px 0;
}

.about-color, .contact-color{
	color: black;
}

.contact-info,
.follow-us,
.about-us,
.dripdrop-info,
.support-info,
.sales {
    flex: 1 1 100%;
    max-width: 200px;
    margin-right: 10px;
	margin-left: 10px;
}

.social-media-logos img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.copyright {
	margin-top: 20px;
	margin-bottom: 50px;
	display: flex;
    flex-direction: column; 
    align-items: center;
}

.privat-police {
	color: black;
	
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 600px) {
    .desktop-menu {
        display: none;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
    }

    #menuToggle:checked + .desktop-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px; /* Adjust the top position based on your header height */
        left: 0;
        right: 0;
        background-color: white;
        z-index: 2;
        width: 100%;
    }

    /* Style for the responsive menu items */
    #menuToggle:checked + .desktop-menu ul {
        flex-direction: column;
    }

    #menuToggle:checked + .desktop-menu li {
        margin-right: 0;
    }

    header {
        padding: 5px; /* Adjust padding for smaller screens */
    }

    .logo img {
        width: 80px; /* Adjust logo size for smaller screens */
    }

    .content-container,
    .side-box-container,
    .feature-boxes,
    .rotating-banner-container,
    .content-container-guests,
    .side-by-side,
    .side-by-side-2,
    .working-with-un,
    .working-with-un-2,
    .content-container-tree,
    footer {
        margin-left: 10px; /* Adjust margin for smaller screens */
        margin-right: 10px; /* Adjust margin for smaller screens */
    }

    .desktop-menu li {
        margin-right: 20px; /* Adjust margin for smaller screens */
    }

    .read-more-btn {
        margin-left: 10px; /* Adjust margin for smaller screens */
    }

    .side-box1 {
        width: auto; /* Allow side box width to adjust */
        margin-left: 10px; /* Adjust margin for smaller screens */
        margin-right: 10px; /* Adjust margin for smaller screens */
    }

    .feature-box img,
    .feature-box2 img,
    .feature-box3 img,
    .rotating-banner img,
    .banner-with-umbrellas img,
    .left-section-guests img,
    .right-section-easy img,
    .goal-12 img,
    .goal-14 img,
    .goal-15 img,
    .side-by-side-2 img {
        width: 100%; /* Make images responsive */
    }

    .banner-container {
        width: 100%; /* Make banner container responsive */
    }

    .rotating-banner img,
    .rotating-banner img.active,
    .rotating-banner img.active2,
    .rotating-banner img.active3,
    .rotating-banner img.active4,
    .rotating-banner img.active5,
    .rotating-banner img.active6,
    .rotating-banner img.active7,
    .rotating-banner img.active8,
    .rotating-banner img.active9 {
        margin-right: 0; /* Adjust margin for smaller screens */
        margin-top: 0; /* Adjust margin for smaller screens */
    }

    .left-section-guests,
    .right-section-easy {
        width: 100%; /* Make sections full width on smaller screens */
    }

    .right-section-easy h2 {
        margin-bottom: 40px; /* Adjust margin for smaller screens */
    }

    .working-with-un {
        margin-right: 10px; /* Adjust margin for smaller screens */
        margin-left: 10px; /* Adjust margin for smaller screens */
    }

    .content-container-tree h3 {
        margin-right: 10px; /* Adjust margin for smaller screens */
        margin-left: 10px; /* Adjust margin for smaller screens */
    }

    .left-side-tree img {
        margin-left: 10px; /* Adjust margin for smaller screens */
        margin-right: 0; /* Adjust margin for smaller screens */
        margin-top: 0; /* Adjust margin for smaller screens */
    }

    .goal-12 img,
    .goal-14 img,
    .goal-15 img,
    .right-side img {
        margin-left: 10px; /* Adjust margin for smaller screens */
        margin-right: 0; /* Adjust margin for smaller screens */
        margin-top: 0; /* Adjust margin for smaller screens */
    }

    .side-by-side-2 img {
        margin-left: 10px; /* Adjust margin for smaller screens */
        margin-right: 0; /* Adjust margin for smaller screens */
    }

    .protecting-guests {
        margin-right: 10px; /* Adjust margin for smaller screens */
    }

    footer {
        padding: 20px; /* Adjust padding for smaller screens */
    }
}